<ion-item-sliding [class.CompletedList]="isListCompleted(list)">

  <ion-item (click)="selectList(list)">

      <div class="item-text-center" text-wrap>
          <h2>{{ list.name }} : {{nbUnfinishedItems(list)}}</h2>
      </div>
      <div *ngIf="isSharedList(list)" class="item-text-center" text-wrap>
          <h3>Shared by : {{ getListOwnerName(list) | async }}</h3>
      </div>
  </ion-item>
  <!-- <button ion-item detail (click)="selectList(list)">
    {{ list.name }} : {{nbUnfinishedItems(list)}}
  </button> -->
  <ion-item-options side="left">
    <button ion-button color="danger" (click)="deleteList(list)" class="sliding-button">
        <ion-icon name="trash"></ion-icon>
    </button>
  </ion-item-options>
  <ion-item-options side="right">
    <button ion-button color="primary" (click)="editListCommand(list)" class="sliding-button">
        <ion-icon name="create"></ion-icon>
    </button>
  </ion-item-options>
</ion-item-sliding>