
<ion-item-sliding *ngIf="item && list">
    
  <ion-item [class.CompletedItem]="item.complete">
    <ion-label type="text" stacked>{{ item?.name }} - complete : {{ item.complete }}</ion-label>
    <ion-label *ngIf="item.desc">{{ item?.desc }}</ion-label>
    <button ion-button>Complete</button>
  </ion-item>

  <ion-item-options side="left">
    <button ion-button color="danger" (click)="deleteItem()">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-item-options>
  <ion-item-options side="right">
    <button ion-button color="primary" (click)="editItem()">
      <ion-icon name="create"></ion-icon>
    </button>
    <button ion-button color="secondary" (click)="completeItem()">
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </ion-item-options>
</ion-item-sliding>
