<ion-header>
  <ion-navbar>
    <ion-title>
      Add contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <!-- <form (ngSubmit)="searchUsers()" [formGroup]="formValidation">
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input (ionChange)="searchUsers()" name="userName" type="text" [(ngModel)]="userName" required formControlName="name"></ion-input>
    </ion-item>

    <button ion-button block type="submit">
        Search&nbsp;
        <ion-icon name="search"></ion-icon>
    </button>
  </form> -->
  <ion-searchbar #input [animated]="true" (ionInput)="searchUsers(input)"></ion-searchbar>

  <ion-item *ngIf="searchResult">

    <ion-label>Result found : {{ searchResult.length }}</ion-label>
  </ion-item>

  <ion-card *ngFor="let pubUser of searchResult">
    <ion-item>
      <ion-avatar item-left>
        <img [src]="pubUser.photoURL">
      </ion-avatar>
      <h2>{{ pubUser.displayName}}</h2>

      <div [ngSwitch]="isFriendRequestSent(pubUser)" item-right class="item-right-button">
        
        <button *ngSwitchCase="true" ion-button color="danger" (click)="cancelFriendRequest(pubUser)">
          <ion-icon  name="close-circle"></ion-icon>
        </button>

        <div *ngSwitchCase="false" [ngSwitch]="hasAlreadySentUs(pubUser)">
          <button *ngSwitchCase="false" ion-button color="secondary" (click)="addContact(pubUser)">
            <ion-icon name="person-add"></ion-icon>
          </button>
          <button *ngSwitchCase="true" ion-button color="secondary" disabled>
            <ion-icon name="share-alt"></ion-icon>
          </button>
        </div>

      </div>
    </ion-item>
  </ion-card>
</ion-content>
