<ion-header>
  <ion-navbar>
    <ion-title>
      Add contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <form (ngSubmit)="searchUsers()" [formGroup]="formValidation">
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input name="userName" type="text" [(ngModel)]="userName" required formControlName="name"></ion-input>
    </ion-item>

    <button ion-button block type="submit">
        Search&nbsp;
        <ion-icon name="search"></ion-icon>
    </button>
  </form>

  <ion-item *ngIf="searchResult">

    <ion-label>Result found : {{ searchResult.length }}</ion-label>
  </ion-item>

  <ion-card *ngFor="let contact of searchResult">
    <ion-item>
      <ion-avatar item-left>
        <img [src]="contact.photoURL">
      </ion-avatar>
      <h2>{{ contact.displayName}}</h2>

      <button ion-button color="secondary" (click)="addContact(contact)" item-right class="item-right-button">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-item>
  </ion-card>
</ion-content>
