<ion-header>
  <ion-navbar>
    <ion-title>
      Add contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <!-- <form (ngSubmit)="searchUsers()" [formGroup]="formValidation">
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input (ionChange)="searchUsers()" name="userName" type="text" [(ngModel)]="userName" required formControlName="name"></ion-input>
    </ion-item>

    <button ion-button block type="submit">
        Search&nbsp;
        <ion-icon name="search"></ion-icon>
    </button>
  </form> -->
  <ion-searchbar #input [animated]="true" (ionInput)="searchUsers(input)"></ion-searchbar>

  <ion-item *ngIf="searchResult">

    <ion-label>Result found : {{ searchResult.length }}</ion-label>
  </ion-item>

  <ion-card *ngFor="let pubUser of searchResult">
    <ion-item>
      <ion-avatar item-left>
        <img [src]="pubUser.photoURL">
      </ion-avatar>
      <h2>{{ pubUser.displayName}}</h2>

      <button [disabled]="isFriendRequestSent(pubUser)" ion-button color="secondary" ng-disabled="isFriendRequestSent(pubUser)" (click)="addContact(pubUser)" item-right class="item-right-button">
        <div [ngSwitch]="isFriendRequestSent(pubUser)">
          <ion-icon *ngSwitchCase="true" name="send"></ion-icon>
          <ion-icon *ngSwitchCase="false" name="person-add"></ion-icon>
        </div>
      </button>
    </ion-item>
  </ion-card>
</ion-content>
