<ion-header>

  <ion-navbar>
    <ion-title *ngIf="list">{{ list.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="list">
    <todoListItem *ngFor="let item of list.items" [list]="list" [item]="item"></todoListItem>
  </ion-list>

  <ion-fab bottom end fixed>
    <button ion-fab color="secondary" (click)="createListItemCommand()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <button ion-button (click)="shareList()">
      <ion-icon name="share"></ion-icon>
  </button>
</ion-content>
