<ion-header>

  <ion-navbar>
    <ion-title>Share List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list *ngIf="contactList">
    <ion-item *ngFor="let contact of contactList">

      <contact [contact]="contact"></contact>
      
      <div [ngSwitch]="isAdded(contact)">
        
        <button *ngSwitchCase="true" ion-button color="danger" (click)="unshareListTo(contact)">
          <ion-icon name="trash"></ion-icon>
        </button>

        <button *ngSwitchCase="false" ion-button color="secondary" (click)="shareListTo(contact)">
          <ion-icon name="add"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
