<ion-header>
  <ion-navbar>
    <ion-title>Contact list</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let publicUser of contactPublicUserList">

    <ion-item text-wrap>
      <ion-avatar item-left>
        <img [src]="publicUser.photoURL">
      </ion-avatar>
      <h2>{{ publicUser.displayName}}</h2>

      <div [ngSwitch]="isPublicUserAdded(publicUser)" item-right class="item-right-button">
        
        <button *ngSwitchCase="true" ion-button color="danger" (click)="deleteContact(publicUser)">
          <ion-icon name="trash"></ion-icon>
        </button>

        <button *ngSwitchCase="false" ion-button color="danger" (click)="cancelFriendRequest(publicUser)">
          <ion-icon name="close-circle"></ion-icon>
        </button>

      </div>
    </ion-item>
  </ion-card>

  <h2 *ngIf="incomingContact.length > 0">Incoming contact requests</h2>
  <ion-card *ngFor="let newContact of incomingContact">

    <ion-item text-wrap>
      <ion-avatar item-left>
        <img [src]="newContact.photoURL">
      </ion-avatar>
      <h2>{{ newContact.displayName}}</h2>

      <div item-right class="item-right-button">
        
        <button ion-button color="secondary" (click)="acceptRequest(newContact)">
          <ion-icon name="checkmark"></ion-icon>
        </button>

        <button ion-button color="danger" (click)="denyRequest(newContact)">
          <ion-icon name="close-circle"></ion-icon>
        </button>

      </div>
    </ion-item>
  </ion-card>

  <ion-fab bottom end fixed>
    <button ion-fab color="secondary" (click)="addContactCommand()">
      <ion-icon name="person-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
